* {
    font-size: medium;
    /* font-weight: 100; */
}

html {
    background-image: url(../images/background.jpg);
    background-size: cover;
    overflow: cover;
}

.container {
    width: 95%;
    height: 60%;
    margin: 30px 0px 20px 40px;
    box-shadow: 4px 3px 8px 1px #969696;
    background-color: white;
}

.box {
    display: flex;
    border: 0.1px solid;
    /* justify-content: flex-end; */

}

.box_column {
    width: 60%;
}

.box_con {
    width: 35%;
    margin-left: 8px;
}

.fa {
    width: 30%;
    position: relative;
    top: 10px;
    left: 26%;
}

.box_column--content {
    margin-left: 8px;
    font-weight: 100;
}

.box_column1--content {
    margin-left: 8px;
    font-weight: 100;
}


.box_column1 {
    width: 40%;
    background: #F0F0F0;
}

.column_img {
    display: flex;
}

.column_img--card {
    margin: 8px 20px 20px 20px;
}

.decor {
    text-decoration: none;
    border: #CCC thin solid;
    padding: 4px;
}

.decor:hover {
    background: #CCC;
}

.decor:hover img {
    visibility: display;
}

.column_form {
    margin: 10px 0 30px 150px;
}

#num,
#name,
#button {
    width: 310px;
}

#cvv,
#exp {
    width: 150px;
}

#button {
    background-color: #33CC99;
    padding: 10px;
    border: 0px;
    color: honeydew;
}

.t-navigation {
    /* -webkit-flex-flow: column wrap; */
    /* background-color: lavender; */
    margin: 0;
    display: flex;
}

.ico {
    width: 50px;
    height: 50px;
    margin: 4px;
    border: 2px solid;
}

.right-top {
    margin-left: 350px;
}

.parent{
    display: flex;
}
.c1,.c2{
    width: 50%;
}

.c2{
padding-left: 65%;
}

.c1{
    padding-left: 5%;
}

.Total{
    font-weight: 200;
}

@media all and (min-width: 992px) {

    .container {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 2%;
        display: flex;
        flex-direction: column;
    }

    .navigation.l {
        flex-grow: 0.3;
        padding: 7px;
        text-align: left;
    }

    .navigation.r {
        align-content: flex-start;
        flex-flow: row;
        flex-grow: 0.7;
        padding: 7px;
        background-color: lightgrey;
    }
}

@media all and (max-width:992px) {
   .container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 2%;
    }
}

@media all and (max-width: 600px) {

    .co-navigation {
        flex-direction: column;
    }

    .right-top {
        margin-left: 7px;
    }

    .l {
        flex-grow: 0.3;
        padding: 7px;
        text-align: left;
        width: 100%;
    }

    .r {
        align-content: flex-start;
        flex-flow: row;
        flex-grow: 0.7;
        padding: 7px;
        background-color: lightgrey;
        width: 100%;
    }

}

@media all and (min-width: 768px) and (max-width:992px) {

    .navigation.l {
        flex-grow: 0.3;
        padding: 7px;
        text-align: left;
        width: 100%;
    }

    .navigation.r {
        align-content: flex-start;
        flex-flow: row;
        flex-grow: 0.7;
        padding: 7px;
        background-color: lightgrey;
        width: 100%;
    }

}

@media all and (max-width: 400px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 2%;
    }
    .img {
        width: 100%;
        height: auto;
    }
    .t-navigation {
        flex-flow: column;
    }
    .right-top {
        margin-left: 7px;
    }
}
